* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(63,94,251);
  background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(209,23,36,0.8547794117647058) 100%);
}

.search-container {
  position: relative;
  width: 400px;
}

.search-container .suggestions ul {
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   max-height: 250px;
   overflow: auto;
  background-color: aqua;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  list-style-type: none;
}

ul li {
  cursor: pointer;
  padding: 10px;
  width: 100%;
}

input {
   width: 100%;
   padding: 10px;
   border: none;
   border-radius: 5px;
   background-color: rgb(217, 195, 240);
}

.highlight {
  background-color: grey;
}