* {
  box-sizing: border-box;
}

:focus {
 /* TODO */
}

body {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(63,94,251);
  background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(209,23,36,0.8547794117647058) 100%);
}

input {
 background-color: rgb(217, 195, 240);
}

.search-container {
  
}
.search-container input,
.search-container .suggestions {
  margin: 0;
  background-color: rgb(217, 195, 240);
}
.search-container input {
 /* TODO */
}
.search-container .suggestions {
   /* TODO */
}

ul {
  /* TODO */
}
ul.has-suggestions {
  /* TODO */
}
ul li {
  /* TODO */
}
ul li:hover {
  /* TODO */
}

input {
   /* TODO */
}